name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test-and-docker-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Debug workspace
        run: |
          echo "PWD:"
          pwd
          echo "List root:"
          ls -la
          echo "Find app folder:"
          find . -maxdepth 3 -type d -name "app" -print
          echo "Tree (top 3 levels):"
          find . -maxdepth 3 -print

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Train model for CI
        run: |
          mkdir -p models
          python src/train.py

      - name: Run tests
        run: |
          export PYTHONPATH=$GITHUB_WORKSPACE
          python -c "import sys; print(sys.path)"
          pytest -q

      - name: Docker build
        run: |
          docker build -t cricket-mlops:ci .
