name: CI + Docker Hub Push

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  DOCKER_IMAGE: vamsikrishnadevops/cricket-mlops

jobs:
  test-build-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Train model for CI
        run: |
          mkdir -p models
          python src/train.py

      - name: Run tests
        run: |
          PYTHONPATH=. pytest -q

      # Buildx is recommended for docker builds in CI
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login only on push to main (not on PRs)
      - name: Login to Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build and push image on push to main
      - name: Build and push
        if: github.event_name == 'push'
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/cricket-mlops:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/cricket-mlops:${{ github.sha }}
